<%- include("header") -%>

<h1 style="text-align: center;"><a href="/">Back to Home</a></h1>

<h3 style="text-align: center;"><a href="https://github.com/nixnicksnix">Report Bugs</a></h1>

<%- include("footer") -%>